ansible==3.3.0
ansible-base==2.10.8
ansible-lint==5.0.7
attrs==20.3.0
bracex==2.1.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
commonmark==0.9.1
cryptography==3.4.7
docker==5.0.0
enrich==1.2.6
idna==2.10
iniconfig==1.1.1
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycparser==2.20
Pygments==2.8.1
pyparsing==2.4.7
pytest==6.2.3
PyYAML==5.4.1
requests==2.25.1
rich==10.1.0
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
six==1.15.0
tenacity==7.0.0
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.4
wcmatch==8.1.2
websocket-client==0.58.0
